*{
  margin: 0;
  padding: 0;
  margin: none;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: rgb(190, 252, 252);
  
}
section{
  background-color: rgb(255, 255, 255);
  width: 800px;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 5px 5px rgb(201, 201, 201);
  padding:  30px;
}
#box_todo{
  width: 100%;
  height: 100%;
  
  display: flex;
  align-items:flex-start;
  justify-content:space-around;
  flex-direction: column;

}

#box_h1{
  font-size: 28px;
  font-family: 'Roboto', sans-serif;
}

#box_input{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

form{
  width: 100%;
}

#box_list{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #555;
}

#todo{
  background-color: white;
  border: none;
  box-shadow: 0.5px 0.5px 4px rgb(168, 168, 168);
  width: 700px;
  height: 30px;
}
#add{
  width: 60px;
  height: 50px;
  border: solid green 3px;
  border-radius: 5px;
  color: green;
  background-color: rgb(248, 248, 248);
  cursor: pointer;
  transition: 0.5s;

}
#done{
  width: 80px;
  height: 40px;
  margin-right: 10px;
  border: solid green 3px;
  border-radius: 5px;
  color: green;
  background-color: white;
  transition: 0.5s;
  cursor: pointer;

}
#remove{
  width: 80px;
  height: 40px;
  border: solid rgb(116, 2, 2) 3px;
  border-radius: 5px;
  color: rgb(179, 2, 2);
  background-color: white;
  cursor: pointer;
  transition: 0.5s;
}
#lista{
  font-size: 25px;
}
#add:hover{
  background-color: rgb(84, 139, 0);
  color: white;
}
#remove:hover{
  background-color: rgb(161, 1, 1);;
  color: white;
}
#done:hover{
  background-color: rgb(78, 131, 0);
  color: white;
}

input {
  padding: 10px;
  font-size: 18px;
}

